.purpose{
  margin-top: 3rem;
  width: 90%;
  height: 150vh;
   
  }
 .value{
background-color: rgb(207, 233, 245);
height: 30%;
padding-top: 3rem;
 }
  
 .value a{
  margin-top: 5rem;
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  color: #007bff;
  font-size: 16px;
 }
 
 .value a:hover{
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
 
.purpose h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.purpose h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  text-align: left;
}
.purpose p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  margin-left: 1rem;
  text-align: center;
}
.vision-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #f5f5f5;
  }
  
  .vision-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .vision-description {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .back-link {
    font-size: 1.1rem;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .back-link:hover {
    color: #0056b3;
  }
  @media (max-width: 768px) {
    .purpose {
      padding: 20px;
      height: inherit;
    }
  
    .value h1 {
      font-size: 24px;
    }
  
    .value p {
      font-size: 16px;
    }
  
    h2 {
      font-size: 20px;
    }
  
    p {
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .purpose {
      padding: 15px;
    }
  
    .value h1 {
      font-size: 20px;
    }
  
    .value p {
      font-size: 14px;
    }
  
    h2 {
      font-size: 18px;
    }
  
    p {
      font-size: 12px;
    }
  }
  